/* custom css */
.text-justify {
  text-align: justify;
}
.social-img {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;

  background:transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size:32px 32px;

  width:32px;
  height:32px;
  display:inline-block;
  text-decoration:none;
}
.social-img#linkedin{
  background-image:url('../img/linkedin.png');
}
.social-img:hover#linkedin{
  background-image:url('../img/linkedin_hover.png');
}
.social-img#twitter{
  background-image:url('../img/twitter.png');
}
.social-img:hover#twitter{
  background-image:url('../img/twitter_hover.png');
}
.social-img#github{
  background-image:url('../img/github.png');
}
.social-img:hover#github{
  background-image:url('../img/github_hover.png');
}
.social-img#tumblr{
  background-image:url('../img/tumblr.png');
}
.social-img:hover#tumblr{
  background-image:url('../img/tumblr_hover.png');
}
.social-img#email{
  background-image:url('../img/email.png');
}
.social-img:hover#email{
  background-image:url('../img/email_hover.png');
}

.avatar {
  display:inline-block;
}