.l-archive-title
  margin 15px 0

.archive-title
  color color-meta
  font-weight normal

.l-archive-title-icon
  margin-right 5px

.l-archive
  .l-post-content-header
    .l-title
      display inline-block

.l-archive-header-time
  display inline-block

.l-archive-article-header-title
  display inline-block
