.l-main-footer
  padding 10px 0
  margin 0

.main-footer
  width 100%

.copyright
  color color-footer
  font-size 0.7em
  font-family font-title
  text-transform uppercase

// social buttons
.l-social
  display inline-block
  margin 15px 0
  li
    display inline-block

.social
  width 100%

.l-social-item
  display inline-block
  left 0
.social-item
  color color-footer

.social-facebook
  &:hover
    color color-facebook
  &:active
    color lighten(color-facebook, 15%)
.social-googleplus
  &:hover
    color color-googleplus
  &:active
    color lighten(color-googleplus, 15%)
.social-twitter
  &:hover
    color color-twitter
  &:active
    color lighten(color-twitter, 15%)
.social-linkedin
  &:hover
    color color-linkedin
  &:active
    color lighten(color-linkedin, 15%)
.social-github
  &:hover
    color color-github
  &:active
    color lighten(color-github, 15%)
.social-email
  &:hover
    color color-email
  &:active
    color lighten(color-email, 15%)
.social-feed
  &:hover
    color color-feed
  &:active
    color lighten(color-feed, 15%)
