body {
  font-family: 'Open Sans'
}

.main {
  background: url('/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  color: white;

  h1 {
    font-family: 'Oswald'
  }

  .box {
    background: rgba(0,0,0,0.3);
  }
}
