body {
  font-family: 'Quicksand', 'Avenir', 'Helvetica', sans-serif;
  color: #011627;
}

a {
  text-decoration: none;
  color: #FF6E00;
  transition: all 0.4s;
  cursor: pointer;

  &:hover, &:active {
    color: lighten(#FF6E00, 5%);
  }
}

.main {
  // background: url('/img/bg2.jpg');
  // background: #fafafa;
  // background: #FFF8F0;
  background: #B2EFF5;
  // background: url('/img/bb4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  min-height: 100vh;

      // color: white;
  // -webkit-filter: grayscale(100%);

  // background-color: cyan;
  // background-blend-mode: multiply;
  h1 {
    font-family: 'Pacifico', serif;
    text-align: center;
    // text-transform: uppercase;
  }

  img {
    width: 200px;
    border-width: 4px;
    border-color: #fff;
    -webkit-filter: grayscale(100%);
  }

  .social {
    a {
      color: #ffe8b8;
      background: #59BFC9;
      &:hover, &:active {
        background: lighten(#59BFC9, 10%);
      }
      li {
        width: 2.5rem;
        height: 2.5rem;

        .icon {
          margin: auto;
          font-size: 1.2rem;
        }
      }
    }
  }

  .scroll-down {
    a {
      color: #59BFC9;

      &:hover, &:active {
        color: lighten(#59BFC9, 10%);
      }
    }
    .icon {
      font-size: 2rem;
    }
  }
}


.works {
  .entry {
    .entry-icon {
      img {
        width: 60px;

        @media (min-width: 40em) {
          width: 100px;
        }
      }
    }
    .entry-content-title-container {
      .title {
        text-transform: uppercase;
      }
    }
  }
}

.contact {
  background: #FF756E;
  color: #fff;

  .scroll-up {
    a {
      color: #fff;

      &:hover, &:active {
        text-shadow: 0 0 1rem #fff;
      }
    }
    .icon {
      font-size: 2rem;
    }
  }
}
