// Color
color-background = #fff
color-font = #444
// color-meta = #999
color-meta = #ae1828
color-border = #ddd
// color-link = #d12413
color-link = #f1282f
color-article-header = #f1282f
color-header-background = #d54851
color-main-nav = #fff
color-main-nav-hover = #fff
color-main-nav-underline = #fff
color-main-nav-side-link = #a8a8a8
color-header = #fff
color-side-button = #565656
color-footer = #9c9c9c

color-facebook = #2d4486
color-twitter = #519de9
color-googleplus = #d33226
color-linkedin = #2a5287
color-github = #121010
color-email = #e33a3d
color-feed = #e25e1b

// Transition default
default-transition-duration = 0.4s
default-transition-property = all
default-transition-function = ease

// Font
font-default = "Muli" //, "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = "DejaVu Sans Mono"//, Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Montserrat"//, Helvetica Neue, Helvetica, Arial, sans-serif

// Width
header-width = 900px
page-width = 700px
