<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Ronald Suwandi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/css/modern-normalize-3.0.1.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Pacifico' rel='stylesheet' type='text/css'>

    <script defer src="https://cloud.umami.is/script.js" data-website-id="5f4b01f8-0728-49c2-a6cc-77775716fd6c"></script>
</head>

<body>
    <section class="main">
        <div class="main-content">
            <img src="/img/ronald.jpg">
            <h1>{{ basic.name }}</h1>
            {{ basic.headline | paragraphSplit | safe }}

            <ul class="social">
                {% for item in social %}
                <a href="{{ item.link }}" target="_blank" aria-label="{{ item.label }}">
                    <li>
                        <svg class="icon" aria-hidden="true"><use href="/icons.svg#{{ item.className }}"></use></svg>
                    </li>
                </a>
                {% endfor %}
            </ul>
            <p class="scroll-down">
                <a class="scroll-to-experiences" aria-label="Scroll to experiences"><svg class="icon" aria-hidden="true"><use href="/icons.svg#icon-down-open"></use></svg></a>
            </p>
        </div>
    </section>
    <section class="experiences">
            <h2>{{ experiences.title }}</h2>
            <div class="entries">
                {% for entry in experiences.list %}
                <div class="entry">
                    <div class="entry-icon">
                        {% if entry.icon %}
                        <a href="{{ entry.link }}" target="_blank"><img src="{{ entry.icon }}" alt="{{ entry.iconText }}"></a>
                        {% else %}
                        <img style="visibility: hidden;">
                        {% endif %}
                    </div>
                    <div class="entry-content">
                        <div class="entry-content-title-container">
                            <p class="title"><strong>{{ entry.title }}</strong></p>
                            {% if entry.subtitle %}
                            <p class="subtitle">
                                {% if entry.link %}
                                <a href="{{ entry.link }}" target="_blank">
                                    {{ entry.subtitle }}
                                </a>
                                {% else %}
                                {{ entry.subtitle }}
                                {% endif %}
                            </p>
                            {% endif %}
                        </div>
                        <div class="entry-content-period">
                            <small>
                            {{ entry.period }}
                            {% if entry.location %}
                            <span class="entry-content-location"> | {{ entry.location }}</span>
                            {% endif %}
                          </small>
                        </div>
                        <div class="entry-content-description">
                            <ul>
                                {% for desc in entry.description %}
                                    <li>{{ desc | safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <section class="projects">
            <h2>{{ projects.title }}</h2>
            <div class="entries">
                {% for entry in projects.list %}
                <div class="entry">
                    <div class="entry-icon">
                        {% if entry.icon %}
                        <a href="{{ entry.link }}" target="_blank"><img src="{{ entry.icon }}" alt="{{ entry.iconText }}"></a>
                        {% else %}
                        <img style="visibility: hidden;">
                        {% endif %}
                    </div>
                    <div class="entry-content">
                        <div class="entry-content-title-container">
                            <p class="title"><strong>{{ entry.title }}</strong></p>
                            {% if entry.subtitle %}
                            <p class="subtitle">
                                {% if entry.link %}
                                <a href="{{ entry.link }}" target="_blank">{{ entry.subtitle }}</a>
                                {% else %}
                                {{ entry.subtitle }}
                                {% endif %}
                            </p>
                            {% endif %}
                        </div>
                        <div class="entry-content-period">
                            <small>
                            {{ entry.period }}
                            {% if entry.location %}
                            <span class="entry-content-location"> | {{ entry.location }}</span>
                            {% endif %}
                          </small>
                        </div>
                        <div class="entry-content-description">
                            {{ entry.description | paragraphSplit | safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <section class="educations">
            <h2>{{ educations.title }}</h2>
            <div class="entries">
                {% for entry in educations.list %}
                <div class="entry">
                    <div class="entry-icon">
                        {% if entry.icon %}
                        <a href="{{ entry.link }}" target="_blank"><img src="{{ entry.icon }}" alt="{{ entry.iconText }}"></a>
                        {% else %}
                        <img style="visibility: hidden;">
                        {% endif %}
                    </div>
                    <div class="entry-content">
                        <div class="entry-content-title-container">
                            <p class="title"><strong>{{ entry.title }}</strong></p>
                            <p class="subtitle"><a href="{{ entry.link }}" target="_blank">{{ entry.subtitle }}</a></p>
                        </div>
                        <div class="entry-content-period">
                            <small>
                            {{ entry.period }}
                            {% if entry.location %}
                            <span class="entry-content-location"> | {{ entry.location }}</span>
                            {% endif %}
                          </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <section class="contact">
        <p class="scroll-up">
            <a class="scroll-to-main" aria-label="Scroll to top"><svg class="icon" aria-hidden="true"><use href="/icons.svg#icon-up-open"></use></svg></a>
        </p>
        <p class="copyright">
            &copy; Ronald Suwandi 2016<script>new Date().getFullYear()>2016&&document.write(" – "+new Date().getFullYear());</script>
        </p>
    </section>
    <script src="/js/main.js"></script>

</body>

</html>
