<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Ronald Suwandi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <!-- TODO - use template to use cdn for prod -->
    <link rel="stylesheet" type="text/css" href="/css/basscss-8.0.1.min.css">
    <link rel="stylesheet" type="text/css" href="/css/basscss-addons.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize-4.1.1.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Pacifico' rel='stylesheet' type='text/css'>

    <script defer src="https://cloud.umami.is/script.js" data-website-id="5f4b01f8-0728-49c2-a6cc-77775716fd6c"></script>
</head>

<body>
    <section class="main flex items-center justify-center border-box">
        <div class="p3 max-width-2">
            <img class="circle mx-auto block border border-box" src="/img/ronald.jpg">
            <h1 class="center my2">{{ basic.name }}</h1>
            {{ basic.headline | paragraphSplit | safe }}

            <ul class="mt3 center list-reset social flex justify-center">
                {% for item in social %}
                <a href="{{ item.link }}" class="mx1 flex flex-none circle align-center justify-center" target="_blank" aria-label="{{ item.label }}">
                    <li class="flex flex-none align-center justify-center">
                        <svg class="icon" aria-hidden="true"><use href="/icons.svg#{{ item.className }}"></use></svg>
                    </li>
                </a>
                {% endfor %}
            </ul>
            <p class="center mt3 mb0 scroll-down">
                <a class="scroll-to-experiences" aria-label="Scroll to experiences"><svg class="icon" aria-hidden="true"><use href="/icons.svg#icon-down-open"></use></svg></a>
            </p>
        </div>
    </section>
    <section class="experiences md-p3 p2">
            <h2 class="center">{{ experiences.title }}</h2>
            <div class="flex flex-column max-width-3 mx-auto">
                {% for entry in experiences.list %}
                <div class="entry flex my2 sm-my3">
                    <div class="entry-icon flex-none mr2">
                        {% if entry.icon %}
                        <a class="inline-block" href="{{ entry.link }}" target="_blank"><img class="rounded border-none" src="{{ entry.icon }}" alt="{{ entry.iconText }}"></a>
                        {% else %}
                        <img style="visibility: hidden;">
                        {% endif %}
                    </div>
                    <div class="entry-content ml1 sm-ml2">
                        <div class="entry-content-title-container">
                            <p class="m0 title"><strong>{{ entry.title }}</strong></p>
                            {% if entry.subtitle %}
                            <p class="mt0 mb1 subtitle">
                                {% if entry.link %}
                                <a class="inline-block" href="{{ entry.link }}" target="_blank">
                                    {{ entry.subtitle }}
                                </a>
                                {% else %}
                                {{ entry.subtitle }}
                                {% endif %}
                            </p>
                            {% endif %}
                        </div>
                        <div class="entry-content-period">
                            <small>
                            {{ entry.period }}
                            {% if entry.location %}
                            <span class="entry-content-location"> | {{ entry.location }}</span>
                            {% endif %}
                          </small>
                        </div>
                        <div class="entry-content-description">
                            <ul>
                                {% for desc in entry.description %}
                                    <li>{{ desc | safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <section class="projects md-p3 p2">
            <h2 class="center">{{ projects.title }}</h2>
            <div class="flex flex-column max-width-3 mx-auto">
                {% for entry in projects.list %}
                <div class="entry flex my2 sm-my3">
                    <div class="entry-icon flex-none mr2">
                        {% if entry.icon %}
                        <a class="inline-block" href="{{ entry.link }}" target="_blank"><img class="rounded border-none" src="{{ entry.icon }}" alt="{{ entry.iconText }}"></a>
                        {% else %}
                        <img style="visibility: hidden;">
                        {% endif %}
                    </div>
                    <div class="entry-content ml1 sm-ml2">
                        <div class="entry-content-title-container">
                            <p class="m0 title"><strong>{{ entry.title }}</strong></p>
                            {% if entry.subtitle %}
                            <p class="mt0 mb1 subtitle">
                                {% if entry.link %}
                                <a class="inline-block" href="{{ entry.link }}" target="_blank">{{ entry.subtitle }}</a>
                                {% else %}
                                {{ entry.subtitle }}
                                {% endif %}
                            </p>
                            {% endif %}
                        </div>
                        <div class="entry-content-period">
                            <small>
                            {{ entry.period }}
                            {% if entry.location %}
                            <span class="entry-content-location"> | {{ entry.location }}</span>
                            {% endif %}
                          </small>
                        </div>
                        <div class="entry-content-description">
                            {{ entry.description | paragraphSplit | safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <section class="educations md-p3 p2">
            <h2 class="center">{{ educations.title }}</h2>
            <div class="flex flex-column max-width-3 mx-auto">
                {% for entry in educations.list %}
                <div class="entry flex my2 sm-my3">
                    <div class="entry-icon flex-none mr2">
                        {% if entry.icon %}
                        <a class="inline-block" href="{{ entry.link }}" target="_blank"><img class="rounded border-none" src="{{ entry.icon }}" alt="{{ entry.iconText }}"></a>
                        {% else %}
                        <img style="visibility: hidden;">
                        {% endif %}
                    </div>
                    <div class="entry-content ml1 sm-ml2">
                        <div class="entry-content-title-container">
                            <p class="m0 title"><strong>{{ entry.title }}</strong></p>
                            <p class="mt0 mb1 subtitle"><a class="inline-block" href="{{ entry.link }}" target="_blank">{{ entry.subtitle }}</a></p>
                        </div>
                        <div class="entry-content-period">
                            <small>
                            {{ entry.period }}
                            {% if entry.location %}
                            <span class="entry-content-location"> | {{ entry.location }}</span>
                            {% endif %}
                          </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
    <section class="contact md-pt2 md-pl3 md-pr3 md-pb3 p2">
        <p class="center my0 scroll-up">
            <a class="scroll-to-main" aria-label="Scroll to top"><svg class="icon" aria-hidden="true"><use href="/icons.svg#icon-up-open"></use></svg></a>
        </p>
        <p class="center">
            &copy; Ronald Suwandi 2016<script>new Date().getFullYear()>2016&&document.write(" – "+new Date().getFullYear());</script>
        </p>
    </section>
    <script src="/js/main.js"></script>

</body>

</html>
